<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warnetit.dankeapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.warnetit.dankeapps.content.UpdatePostActivity"></activity>
        <activity android:name="com.warnetit.dankeapps.content.EditPostActivity" />
        <activity android:name="com.warnetit.dankeapps.content.DetailContent" />
        <activity android:name="com.warnetit.dankeapps.EditCV" />
        <activity
            android:name="com.warnetit.dankeapps.content.FilterContent"
            android:theme="@style/AppTheme.popTheme" />
        <activity android:name="com.warnetit.dankeapps.content.PostJasa" />
        <activity android:name="com.warnetit.dankeapps.content.DisplayCV" />
        <activity android:name="com.warnetit.dankeapps.AccountInfo" />
        <activity android:name="com.warnetit.dankeapps.PengisianCV" />
        <activity android:name="com.warnetit.dankeapps.Register" />
        <activity android:name="com.warnetit.dankeapps.Login" />
        <activity android:name="com.warnetit.dankeapps.MainActivity" />
        <activity android:name="com.warnetit.dankeapps.Account" />
        <activity android:name="com.warnetit.dankeapps.Favorite" />
        <activity android:name="com.warnetit.dankeapps.WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>